USE [master]
GO
/****** Object:  Database [GALAXY]    Script Date: 6/8/2022 11:46:44 AM ******/
CREATE DATABASE [GALAXY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GALAXY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GALAXY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GALAXY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GALAXY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GALAXY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GALAXY]
GO
/****** Object:  Table [dbo].[AREA]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREA](
	[AID] [varchar](5) NOT NULL,
	[ANAME] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BID] [varchar](10) NOT NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[SID] [varchar](5) NOT NULL,
	[TERM] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CINEMA]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINEMA](
	[CID] [varchar](5) NOT NULL,
	[CNAME] [nvarchar](30) NOT NULL,
	[AID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[NID] [varchar](12) NOT NULL,
	[BOD] [date] NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[PHONE] [varchar](10) NOT NULL,
	[GENDER] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[MID] [varchar](5) NOT NULL,
	[MNAME] [nvarchar](50) NOT NULL,
	[DIRECTOR] [nvarchar](50) NOT NULL,
	[LENGTH] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[RID] [varchar](5) NOT NULL,
	[RNUMBER] [int] NOT NULL,
	[CID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSION]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION](
	[SID] [varchar](5) NOT NULL,
	[MID] [varchar](5) NOT NULL,
	[PRICE] [int] NOT NULL,
	[SD] [datetime] NOT NULL,
	[MFORMAT] [nvarchar](6) NOT NULL,
	[SUBTITLE] [nvarchar](20) NOT NULL,
	[RID] [varchar](5) NOT NULL,
 CONSTRAINT [PK_SESSION] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 6/8/2022 11:46:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[TID] [varchar](13) NOT NULL,
	[BID] [varchar](10) NOT NULL,
	[CHAIR] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AREA] ([AID], [ANAME]) VALUES (N'A0001', N'HA NOI')
INSERT [dbo].[AREA] ([AID], [ANAME]) VALUES (N'A0002', N'DA NANG')
INSERT [dbo].[AREA] ([AID], [ANAME]) VALUES (N'A0003', N'HO CHI MINH CITY')
GO
INSERT [dbo].[BILL] ([BID], [USERNAME], [SID], [TERM]) VALUES (N'S000200001', N'admin', N'S0002', N'Enthernet Banking')
INSERT [dbo].[BILL] ([BID], [USERNAME], [SID], [TERM]) VALUES (N'S000200002', N'legend', N'S0002', N'Paypal')
INSERT [dbo].[BILL] ([BID], [USERNAME], [SID], [TERM]) VALUES (N'S001600001', N'admin', N'S0016', N'Momo')
GO
INSERT [dbo].[CINEMA] ([CID], [CNAME], [AID]) VALUES (N'BH001', N'GALAXY TAN BINH', N'A0003')
INSERT [dbo].[CINEMA] ([CID], [CNAME], [AID]) VALUES (N'BH002', N'GALAXY NGUYEN DU', N'A0003')
INSERT [dbo].[CINEMA] ([CID], [CNAME], [AID]) VALUES (N'DN001', N'GALAXY DA NANG', N'A0002')
GO
INSERT [dbo].[CUSTOMER] ([USERNAME], [PASSWORD], [NAME], [NID], [BOD], [EMAIL], [PHONE], [GENDER]) VALUES (N'admin', N'12345678', N'jake', N'123456789', CAST(N'2002-10-29' AS Date), N'admin', N'admin', N'M')
INSERT [dbo].[CUSTOMER] ([USERNAME], [PASSWORD], [NAME], [NID], [BOD], [EMAIL], [PHONE], [GENDER]) VALUES (N'legend', N'00000000', N'jake', N'123456789', CAST(N'2002-10-29' AS Date), N'admin', N'admin', N'M')
GO
INSERT [dbo].[MOVIE] ([MID], [MNAME], [DIRECTOR], [LENGTH]) VALUES (N'MV001', N'Titanic', N'James Cameron', CAST(N'03:20:00' AS Time))
INSERT [dbo].[MOVIE] ([MID], [MNAME], [DIRECTOR], [LENGTH]) VALUES (N'MV002', N'Avatar', N'James Cameron', CAST(N'03:10:00' AS Time))
GO
INSERT [dbo].[ROOM] ([RID], [RNUMBER], [CID]) VALUES (N'R0001', 1, N'HN001')
INSERT [dbo].[ROOM] ([RID], [RNUMBER], [CID]) VALUES (N'R0002', 2, N'HN001')
INSERT [dbo].[ROOM] ([RID], [RNUMBER], [CID]) VALUES (N'R0003', 3, N'HN001')
GO
INSERT [dbo].[SESSION] ([SID], [MID], [PRICE], [SD], [MFORMAT], [SUBTITLE], [RID]) VALUES (N'S0001', N'MV001', 120000, CAST(N'2022-06-06T12:00:00.000' AS DateTime), N'Normal', N'Vietsub', N'R0011')
INSERT [dbo].[SESSION] ([SID], [MID], [PRICE], [SD], [MFORMAT], [SUBTITLE], [RID]) VALUES (N'S0002', N'MV001', 140000, CAST(N'2022-06-06T12:30:00.000' AS DateTime), N'Normal', N'Viet-Dubbed', N'R0002')
INSERT [dbo].[SESSION] ([SID], [MID], [PRICE], [SD], [MFORMAT], [SUBTITLE], [RID]) VALUES (N'S0003', N'MV002', 120000, CAST(N'2022-06-08T16:30:00.000' AS DateTime), N'Normal', N'Vietsub', N'R0003')
GO
INSERT [dbo].[TICKET] ([TID], [BID], [CHAIR]) VALUES (N'S000200001C09', N'S000200001', N'C09')
INSERT [dbo].[TICKET] ([TID], [BID], [CHAIR]) VALUES (N'S000200001C10', N'S000200001', N'C10')
INSERT [dbo].[TICKET] ([TID], [BID], [CHAIR]) VALUES (N'S000200001C11', N'S000200001', N'C11')
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_SID] FOREIGN KEY([SID])
REFERENCES [dbo].[SESSION] ([SID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_SID]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_USER] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[CUSTOMER] ([USERNAME])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_USER]
GO
ALTER TABLE [dbo].[CINEMA]  WITH CHECK ADD  CONSTRAINT [FK_AID] FOREIGN KEY([AID])
REFERENCES [dbo].[AREA] ([AID])
GO
ALTER TABLE [dbo].[CINEMA] CHECK CONSTRAINT [FK_AID]
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [FK_CID_R] FOREIGN KEY([CID])
REFERENCES [dbo].[CINEMA] ([CID])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_CID_R]
GO
ALTER TABLE [dbo].[SESSION]  WITH CHECK ADD  CONSTRAINT [FK_MID] FOREIGN KEY([MID])
REFERENCES [dbo].[MOVIE] ([MID])
GO
ALTER TABLE [dbo].[SESSION] CHECK CONSTRAINT [FK_MID]
GO
ALTER TABLE [dbo].[SESSION]  WITH CHECK ADD  CONSTRAINT [FK_RID] FOREIGN KEY([RID])
REFERENCES [dbo].[ROOM] ([RID])
GO
ALTER TABLE [dbo].[SESSION] CHECK CONSTRAINT [FK_RID]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK_BID] FOREIGN KEY([BID])
REFERENCES [dbo].[BILL] ([BID])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK_BID]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD CHECK  ((len([PASSWORD])>=(8)))
GO
USE [master]
GO
